#nav{
  display: flex;
  justify-content: space-around;
  background-color: #2C5364;
  font-weight: bolder;
  padding: 10px;
  font-size: 20px;
  /* text-decoration: none; */
  text-decoration: transparent;
}
body{
  align-items: center;
 
  background-repeat: no-repeat;
  background-position: center;
}
.navlink{
  text-decoration: none;
  color: rgb(239, 244, 241);
}
